[submodule "src/submodules/voice-gender-classifier"]
	path = src/submodules/voice-gender-classifier
	url = https://github.com/JaesungHuh/voice-gender-classifier.git
[submodule "src/submodules/voice-age-regression"]
	path = src/submodules/voice-age-regression
	url = https://github.com/griko/voice-age-regression.git
[submodule "src/submodules/ssl-singer-identity"]
	path = src/submodules/ssl-singer-identity
	url = https://github.com/SonyCSLParis/ssl-singer-identity.git
